.list {
    width: 80%;
    margin: 0 auto;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
}