<navbar></navbar>

<section class="search-input-container">
    <div class="search-input">
        <search-input></search-input>
    </div>
</section>

<section>
    <div>
        <event-description class="results-container" [description]="searchService.description | async">
        </event-description>
    </div>
</section>

<section>
    <div>
        <list class="results-container" [organizations]="searchService.organizations | async">
        </list>
    </div>
</section>

<section class="results-container">
    <survey>

    </survey>
</section>