<navbar></navbar>

<section class="search-input-container">
    <div class="search-input">
        <search-input></search-input>
    </div>
</section>

<section *ngIf="searchService.description | async">
    <event-description class="results-container" [description]="searchService.description | async">
    </event-description>
</section>

<section *ngIf="searchService.isSuccess | async">
    <list class="results-container" [organizations]="searchService.organizations | async">
    </list>
</section>